@import "variables";
@import "stylesheet";

html, body {
  margin: 0;
  font-family: $font-family;
  font-size: 16px;
  color:$font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

