.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;

  &-logo {
    width: 180px;
    margin-left: 40px;
  }

  &-title {
    font-size: 20px;
    text-transform: uppercase;
  }

  &-button {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
  }
}
